region = "asia-east2"
region_zone = "asia-east2-a"
project_id = "my-project-id-123"
credentials_file_path = "~/.gcloud/Terraform.json"
bucket_name = "bucketname"
backend_bucket_name = "backendbucketname"
bucket_location = "ASIA"
